.hw100 {
  height: 100%;
  width: 100%;
}

.posr {
  position: relative;
}

.posa {
  position: absolute;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.flex1 {
  flex: 1;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 10px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.diasable {
  pointer-events: none;
  cursor: not-allowed;
  filter: grayscale(100%);
}

.ovf {
  overflow: hidden;
}

.els {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
